*.log
*.suo
*.sdf
*.exe
*.ilk
SeniorTeamProject/Debug/TeamProject.pdb
*.opensdf
*.tlog
*.obj
SeniorTeamProject/TeamProject/Debug/TeamProject.Build.CppClean.log
*.log
SeniorTeamProject/TeamProject.sdf
*.lastbuildstate
SeniorTeamProject/TeamProject/Debug/vc110.idb
*.pdb
SeniorTeamProject/TeamProject.v11.suo
*.log
SeniorTeamProject/TeamProject/Ogre.log
*.log
SeniorTeamProject/TeamProject/Debug/TeamProject.log
*.log
SeniorTeamProject/TeamProject/Ogre.log