MenuBG
{
    zorder 10
  
    container Panel(MenuBG/Panel)
    {
      metrics_mode relative

      left 0.0
      top 0.0
      width 1.0
      height 1.0
      material Menu/Background/Black
    }
}

Ending
{
    zorder 200
	
    container Panel(Ending/Panel)
    {
      metrics_mode relative

      left 0.05
      top 0.3
      width 0.75
      height 0.2
	    material BlueSemiTran
	  
		element TextArea(Ending/Panel/Text1)
		{
		metrics_mode relative
		
         left 0.1
		     top 0.05
         font_name BlueHighwayBig
         char_height 0.05
         colour 1 1 1
         caption Congratulations, you have beat the game! 
		}

    }
}


Score
{
    zorder 100
	
    container Panel(Score/Panel)
    {
      metrics_mode relative

      left 0.05
      top 0.9
      width 0.2
      height 0.1
      material Menu/Background/Black
	  
		element TextArea(Score/Panel/Text1)
		{
		metrics_mode relative
		
         left 0.02
		     top 0.025
         font_name BlueHighwayBig
         char_height 0.05
         colour 1 1 1
         caption Score is: 0
		}
    }
}

